<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<title>212 Tracker</title>
		<style>
			html, body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
			#map {
				height: 100%;
			}
		</style>
	</head>
	<body>
		
		<h1 style="
			font-family: 'Lato', Calibri, Arial, sans-serif;
			color: #89867e;
			background: #fff;
			margin: 0;
			padding: 2vw;
			text-align: center;
			font-weight: bold;
			font-size: 3vw;
			line-height: 1.3;
			color:rgb(235, 126, 30);
			"
		> Smart Campus 
		<span style="
			font-family: 'Lato', Calibri, Arial, sans-serif;
			color: #89867e;
			background: #fff;
			margin: 0;
			padding: 2vw;
			text-align: center;
			display: block;
			padding: 0 0 0.6em 0.1em;
			font-size: 1.3vw;
			color: #aca89a;
			"> 
			212 Tracking Project </span></h1>

		<select onchange="initMapID()" id="bus_list"></select>

		<div id="map"></div>

		<script>

			//loads bus ids dynamically into dropdown
			function fetchDataPoints() {
				var dataPointsJson = {{ dataPoints | tojson }} ;
				//console.log(dataPointsJson);
				dataPoints = JSON.parse(dataPointsJson);
				console.log(dataPoints);
				
				busIds = Object.keys(dataPoints);
				console.log(busIds);
				var bus_list = document.getElementById("bus_list");
				var len=busIds.length;

				//populating select with all bus with resp. ids as values
				for(i=0;i<len;++i) {
					var option = document.createElement("option");
					option.text = "Bus "+(i+1);
					option.value = busIds[i]; //option value = bus_id
					bus_list.add(option);
				}
			}
			fetchDataPoints();

			
			//reloads map upon change in bus id 
			function initMapID() {
				
				var myLatLng = {lat: 17.4977899, lng: 78.5056246 };
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 13,
					center: myLatLng
				});
				
				//getting selected bus id
				var bus_list = document.getElementById("bus_list");
				var bus_id = bus_list.value; //selected bus id value
				console.log(bus_id);
				//alert(bus_id);

				var dataPointsJson = {{ dataPoints | tojson }} ;
				dataPoints = JSON.parse(dataPointsJson);
				
				var pos1 = {lat: dataPoints[bus_id][0][0], lng: dataPoints[bus_id][0][1] };
				var pos2 = {lat: dataPoints[bus_id][1][0], lng: dataPoints[bus_id][1][1] };
				var pos3 = {lat: dataPoints[bus_id][2][0], lng: dataPoints[bus_id][2][1] };

				var marker1 = new google.maps.Marker({
					position: pos1,
					map: map,
					icon:{
						url: 'static/pin.png',
						scaledSize: new google.maps.Size(22*1, 40*1)
					},
					title: dataPoints[bus_id][0][2]
				});
				var marker2 = new google.maps.Marker({
					position: pos2,
					map: map,
					icon:{
						url: 'static/pin.png',
						scaledSize: new google.maps.Size(22*1, 40*1)
					},
					title: dataPoints[bus_id][1][2]
				});
				var marker3 = new google.maps.Marker({
					position: pos3,
					map: map,
					icon:{
						url: 'static/pin.png',
						scaledSize: new google.maps.Size(22*1, 40*1)
					},
					title: dataPoints[bus_id][2][2]
				}); /**/
			}

			/*function initMap() {
				var myLatLng = {lat: 17.4977899, lng: 78.5056246 };

				var pos1 = {lat: {{dataPoints[0][1]}} , lng:  {{dataPoints[0][2]}} };
				var pos2 = {lat: {{dataPoints[1][1]}}, lng: {{dataPoints[1][2]}} };
				var pos3 = {lat: {{dataPoints[2][1]}}, lng: {{dataPoints[2][2]}} };

				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 13,
					center: myLatLng
				});

				var marker1 = new google.maps.Marker({
					position: pos1,
					map: map,
					icon:{
						url: 'static/pin.png',
						scaledSize: new google.maps.Size(22*0.8, 40*0.8)
					},
					title: '{{dataPoints[0][3]}}'
				});
				
				var marker2 = new google.maps.Marker({
					position: pos2,
					icon:{
						url: 'static/pin.png',
						scaledSize: new google.maps.Size(22*1, 40*1)
					},
					map: map,
					title: '{{dataPoints[1][3]}} '
				});

				var marker3 = new google.maps.Marker({
					position: pos3,
					icon:{
						url: 'static/pin.png',
						scaledSize: new google.maps.Size(22*1.2, 40*1.2)
					},
					map: map,
					title: '{{dataPoints[2][3]}} '
				});
			} /**/

		</script>

		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW33L4Qzpx6nAzfa5DOFd1T-uChYxjHyE&callback=initMapID">
		</script>
		
	</body>
</html>